extends layout

block content
  h1= title
  p Welcome to #{title} Application
  hr
  p The Contacts database application will list all the contacts and from there the user can view, edit, delete, or add a contact
  br
  a(href="/contacts") View Contacts Database